    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <span class="footer__copy">Scandiweb Test assignment</span>
            </div>
        </div>
    </footer>

    <script src="js/bundle.js"></script>
  </body>
</html>
