<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="main">
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <h1 class="header__title">Product Add</h1>
        <div class="header__buttons">
          <button id="save">Save</button>
          <button id="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="product">
    <div class="container">
      <form class="product__form" method="post" id="product_form">
        <div class="product__item">
          <label for="sku">SKU</label>
          <input type="text" name="sku" id="sku" class="product__input">
          <span class="product__notification"></span>
        </div>
        <div class="product__item">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="product__input">
          <span class="product__notification"></span>
        </div>
        <div class="product__item">
          <label for="price">Price ($)</label>
          <input type="text" name="price" id="price" class="product__input">
          <span class="product__notification"></span>
        </div>
        <div class="product__switcher product__item" id="productSwitcher" data-value="" data-measuring="">
          <label for="productType">Type switcher</label>
          <select name="productType" id="productType">
            <option value="type">Type switcher</option>
            <option value="dvd">DVD</option>
            <option value="book">Book</option>
            <option value="furniture">Furniture</option>
          </select>
        </div>
        <div class="product__switcher-content" id="productContent">
          <div class="product__switcher-content-item" id="dvd" data-measuring="MB">
            <div class="product__item">
              <label for="size">Size (MB)</label>
              <input required="required" type="text" name="size" id="size" class="product__input-data">
              <span class="product__notification"></span>
            </div>
            <span class="product__switcher-description">*Please, provide size</span>
          </div>
          <div class="product__switcher-content-item" id="furniture" data-measuring="CM">
            <div class="product__item">
              <label for="height">Height (CM)</label>
              <input required="required" type="text" name="height" id="height" class="product__input-data">
              <span class="product__notification"></span>
            </div>
            <div class="product__item">
              <label for="width">Width (CM)</label>
              <input required="required" type="text" name="width" id="width" class="product__input-data">
              <span class="product__notification"></span>
            </div>
            <div class="product__item">
              <label for="length">Length (CM)</label>
              <input required="required" type="text" name="length" id="length" class="product__input-data">
              <span class="product__notification"></span>
            </div>
            <span class="product__switcher-description">*Please, provide dimensions</span>
          </div>
          <div class="product__switcher-content-item" id="book" data-measuring="KG">
            <div class="product__item">
              <label for="weight">Weight (KG)</label>
              <input required="required" type="text" name="weight" id="weight" class="product__input-data">
              <span class="product__notification"></span>
            </div>
            <span class="product__switcher-description">*Please, provide weight</span>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>