<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="main">
    <div class="header">
        <div class="container">
            <div class="header__inner">
                <h1 class="header__title">Product List</h1>
                <div class="header__buttons">
                    <button id="add">ADD</button>
                    <button id="delete">MASS DELETE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="container">
            <div class="products__inner" id="productsList">
<!--                <div class="products__item" data-id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">JVC200123</span>-->
<!--                    <span class="products__item-name">Acme DISK</span>-->
<!--                    <span class="products__item-price">1.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Size:</span>-->
<!--                        <span class="products__item-attributes-content">700 MB</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">JVC200123</span>-->
<!--                    <span class="products__item-name">Acme DISK</span>-->
<!--                    <span class="products__item-price">1.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Size:</span>-->
<!--                        <span class="products__item-attributes-content">700 MB</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">JVC200123</span>-->
<!--                    <span class="products__item-name">Acme DISK</span>-->
<!--                    <span class="products__item-price">1.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Size:</span>-->
<!--                        <span class="products__item-attributes-content">700 MB</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">JVC200123</span>-->
<!--                    <span class="products__item-name">Acme DISK</span>-->
<!--                    <span class="products__item-price">1.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Size:</span>-->
<!--                        <span class="products__item-attributes-content">700 MB</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">GGVP0007</span>-->
<!--                    <span class="products__item-name">War and Peace</span>-->
<!--                    <span class="products__item-price">20.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Weight:</span>-->
<!--                        <span class="products__item-attributes-content">2KG</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">GGVP0007</span>-->
<!--                    <span class="products__item-name">War and Peace</span>-->
<!--                    <span class="products__item-price">20.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Weight:</span>-->
<!--                        <span class="products__item-attributes-content">2KG</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">GGVP0007</span>-->
<!--                    <span class="products__item-name">War and Peace</span>-->
<!--                    <span class="products__item-price">20.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Weight:</span>-->
<!--                        <span class="products__item-attributes-content">2KG</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">GGVP0007</span>-->
<!--                    <span class="products__item-name">War and Peace</span>-->
<!--                    <span class="products__item-price">20.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Weight:</span>-->
<!--                        <span class="products__item-attributes-content">2KG</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">TR120555</span>-->
<!--                    <span class="products__item-name">Chair</span>-->
<!--                    <span class="products__item-price">40.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Dimension:</span>-->
<!--                        <span class="products__item-attributes-content">24x24x25</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">TR120555</span>-->
<!--                    <span class="products__item-name">Chair</span>-->
<!--                    <span class="products__item-price">40.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Dimension:</span>-->
<!--                        <span class="products__item-attributes-content">24x24x25</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">TR120555</span>-->
<!--                    <span class="products__item-name">Chair</span>-->
<!--                    <span class="products__item-price">40.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Dimension:</span>-->
<!--                        <span class="products__item-attributes-content">24x24x25</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="products__item" id="">-->
<!--                    <input type="checkbox" class="delete-checkbox" name="delete"/>-->
<!--                    <span class="products__item-scu">TR120555</span>-->
<!--                    <span class="products__item-name">Chair</span>-->
<!--                    <span class="products__item-price">40.00 $</span>-->
<!--                    <div class="products__item-attributes">-->
<!--                        <span class="products__item-attributes-name">Dimension:</span>-->
<!--                        <span class="products__item-attributes-content">24x24x25</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

</div>



<%= _.template(require('./../includes/footer.html').default)(data) %>