
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);

}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header{
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
  }

  &__title{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  &__buttons{
    display: flex;
    align-items: center;

    button{
      color: #fff;
      background-color: #1976d2;
      padding: 6px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: .3s all;

      &:hover{
        background-color: rgb(17, 82, 147);
        transition: .3s all;
      }
    }

    button:nth-child(1){
      margin-right: 14px;
    }

  }

}

.products{
  margin-top: 40px;

  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item{
    margin-left: .5%;
    margin-right: .5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    margin-bottom: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    padding: 14px;
    box-sizing: border-box;

    span{
      margin-bottom: 5px;
      display: block;
    }
  }

  &__item-attributes{
    display: flex;
    align-items: center;

    span:nth-child(2){
      margin-left: 3px;
    }
  }

  .delete-checkbox{
    margin-left: auto;
    cursor: pointer;
  }
}

.product{
  margin-top: 40px;

  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label{
      color: rgba(0, 0, 0, 0.87);
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      width: 120px;
    }

    input{
      color: rgba(0, 0, 0, 0.87);
      cursor: text;
      display: flex;
      position: relative;
      font-size: 1rem;
      box-sizing: border-box;
      align-items: center;
      font-weight: 400;
      line-height: 1.1876em;
      letter-spacing: 0.00938em;
      padding: 10px 14px;
      border-radius: 4px;
      border: 1px solid rgb(196,196,196);
      width: 250px;

    }

  }

  &__switcher{
    select{
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      position: relative;
      font-size: 1rem;
      box-sizing: border-box;
      align-items: center;
      font-weight: 400;
      line-height: 1.1876em;
      letter-spacing: 0.00938em;
      padding: 10px 14px;
      border-radius: 4px;
      border: 1px solid rgb(196,196,196);
      width: 250px;
      cursor: pointer;
      appearance: none;
      background: url(./../img/down.svg) no-repeat right;
      background-size: 10px 10px;
      background-position-x: calc(100% - 8px);
    }
  }

  &__switcher-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: left;
    padding-left: 120px;
    display: block;
  }

  &__switcher-content{
    margin-bottom: 30px;
  }

  &__switcher-content-item{
    display: none;
  }

  &__notification{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    display: block;
    margin-left: 14px;
    color: red;
  }


}


.footer{

  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #000000;
  }

  &__copy{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: rgba(0, 0, 0, 0.87);
  }

}

